<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to the Home Page</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="imageFile" placeholder="Upload a file">
        <button type="submit">Submit</button>
    </form>

</body>

</html>